/* archivo: /css/componentes/sidebar.css */

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--color-sidebar);
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

.sidebar .nav-link {
  color: white;
  padding: 12px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.sidebar .nav-link:hover {
  background-color: var(--color-sidebar-hover);
  transform: scale(1.05);
}