/* archivo: /modulos/asistencias/reporte_mensual/css/exportar_excel.css */
/* CSS Document */
/* Estilos para la tabla */



table {
    border-collapse: collapse;
    font-family: Arial;
    font-size: 12px;
}

td {
    border: 1px solid #000;
    padding: 4px;
}

.header {
    background: #d9d9d9;
    font-weight: bold;
}
