/* archivo: /modulos/asistencias/assets/css/layout.css */

/* ============================================================
   LAYOUT GENERAL
   ============================================================ */

body {
    margin: 0;
    background: #f4f4f4;
    overflow-x: hidden;
}

/* ============================================================
   HEADER
   ============================================================ */

.erp-header {
    width: 100%;
    height: 60px;
    background: #0078d7;
    color: #fff;
	font-size: 20px;				/* Tamaño de fuente */
	font-weight: 600;				/* Negrita */
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/* ============================================================
   SIDEBAR
   ============================================================ */

.erp-sidebar {
	width: 230px;
	background: hsl(212, 79%, 30%);
	color: #fff;

    font-size: 20px;

	position: fixed;
	top: 65px;			/* Sidebar empieza EXACTO debajo del header */
	bottom: 40px;;			/* Sidebar llega hasta el final de la pantalla */

	padding-top: 20px;	/* Separación con el header */
	z-index: 50;		/* Para que este por encima del header */

	overflow-y: auto;
}



.erp-sidebar h3 {
	padding-left: 20px;				/* Indentación */
	margin-bottom: 10px;			/* Separación con el siguiente elemento */  
	color: hsl(0, 0%, 100%);					/* Color de texto */
	font-family: "Segoe UI Semibold", Arial, sans-serif;
	font-size: 20px;				/* Tamaño de fuente */

	font-weight: 600;				/* Negrita */
	text-transform: uppercase;		/* Mayúsculas */
}

.erp-sidebar a {
    display: block;
    padding: 12px 20px;
    color: #ddd;
    text-decoration: none;			/* Sin subrayado */
    font-size: 15px;
	font-family: "Segoe UI", sans-serif;
}

.erp-sidebar a:hover {
    background: #333;
}

/* ============================================================
   CONTENIDO
   ============================================================ */

.contenido {
    margin-left: 230px;
    margin-top: 80px;
    padding: 20px;
    width: calc(100% - 230px);
    position: relative;
    z-index: 1;
}

/* ============================================================
   FOOTER
   ============================================================ */

.erp-footer {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: calc(100% - 15px);
    height: 35px;
    background: hsl(0, 7%, 74%);
    color: #555;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 13px;
    z-index: 100;
}

/* ============================================================
   FIX PARA MODALES
   ============================================================ */

.modal {
    z-index: 20000 !important;
}

.modal-backdrop {
    z-index: 19999 !important;
}
